{{- if and (eq .chezmoi.os "darwin") (not (env "GITHUB_ACTION")) -}}
#!/bin/bash

# Install brew cask packages
brew bundle --file=/dev/stdin <<EOF
cask "carbon-copy-cloner"
cask "claude"
cask "crossover"
cask "discord"
cask "font-monaspace"
cask "font-monaspace-nf"
cask "ghostty"
cask "hammerspoon"
cask "little-snitch"
cask "loopback"
cask "micro-snitch"
cask "microsoft-teams"
cask "motu-m-series"
cask "quicken"
cask "rectangle-pro"
cask "silicon-app"
cask "starsector"
cask "steam"
cask "viable"
EOF
{{ end -}}
