{{ if and (eq .chezmoi.os "linux") (.is_wsl) -}}
#!/bin/bash

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
asdf plugin-add python
asdf plugin-add pipenv https://github.com/and-semakin/asdf-pipenv.git
asdf plugin-add direnv

asdf direnv setup --shell zsh --version latest
{{ end -}}
