{{ if and (eq .chezmoi.os "linux") (.is_wsl) -}}
#!/bin/bash

# Install packages
sudo zypper -n install bat bottom direnv fd fzf gcc gh git-lfs git-delta macchina ncdu neovim ripgrep starship zoxide zsh
{{ end -}}
