{{- if hasKey .macHosts .chezmoi.hostname -}}
#!/opt/homebrew/bin/fish

curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
{{ end -}}
