{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install brew mas packages
brew bundle --file=/dev/stdin <<EOF
mas "AdGuard for Safari", id: 1440147259
mas "Amphetamine", id: 937984704
mas "Final Cut Pro", id: 424389933
mas "GoodLinks", id: 1474335294
mas "Keynote", id: 409183694
mas "Mela", id: 1568924476
mas "MusicBox", id: 1614730313
mas "NepTunes", id: 1006739057
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "PCalc", id: 403504866
mas "Photomator", id: 1444636541
mas "Pixelmator", id: 407963104
mas "StopTheMadness Pro", id: 6471380298
mas "TestFlight", id: 899247664
EOF
{{ end -}}
