{{- if and (hasKey .macHostnames .chezmoi.hostname) (not (env "GITHUB_ACTION")) -}}
#!/bin/bash

# Install brew cask packages
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "adobe-digital-editions"
cask "alfred"
cask "bettertouchtool"
cask "calibre"
cask "carbon-copy-cloner"
cask "discord"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "hammerspoon"
cask "jordanbaird-ice"
cask "little-snitch"
cask "micro-snitch"
cask "motu-m-series"
cask "qmk-toolbox"
cask "quicken"
cask "reaper"
cask "rectangle"
EOF
{{ end -}}
