{{ if eq (env "CONTAINER_ID") .devboxHostname -}}
#!/home/linuxbrew/.linuxbrew/bin/fish

systemctl --user daemon-reload
systemctl --user start --now devbox.service
sudo systemctl enable podman-auto-update.timer
{{ end -}}
