{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

### Configure macOS settings

## Dock, Spaces

# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true

# Make Dock icons of hidden applications translucent
defaults write com.apple.dock showhidden -bool true

# Don’t show recent applications in Dock
defaults write com.apple.dock show-recents -bool false

## Spotlight

# Do not index mounted Volumes
# Disabled since it doesnt seem to work?
# sudo defaults write /.Spotlight-V100/VolumeConfiguration Exclusions -array "/Volumes"
{{ end -}}
