{{ if and (eq .chezmoi.os "linux") (.is_wsl) -}}
#!/bin/bash

# Install brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/aliases"
tap "homebrew/bundle"
brew "asdf"
brew "bat"
brew "bottom"
brew "ctop"
brew "curl"
brew "direnv"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "git-delta"
brew "macchina"
brew "ncdu"
brew "neovim"
brew "starship"
brew "thefuck"
brew "wget"
brew "zoxide"
brew "zsh"
EOF

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# set zsh as default shell once
if [[ -z "${ZSH_VERSION}" ]]
then
    sudo command -v zsh | sudo tee -a /etc/shells
    sudo chsh -s "$(command -v zsh)" "${USER}"
fi
{{ end -}}
