{{- if hasKey .archHostnames .chezmoi.hostname -}}
#!/bin/bash

# build paru
git clone https://aur.archlinux.org/paru.git
cd paru
makepkg -si
cd ..
rm -rf paru

# install paru with paru
paru -Sy paru
{{ end -}}
