{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install brew mas packages
brew bundle --file=/dev/stdin <<EOF
mas "Amphetamine", id: 937984704
mas "GoodLinks", id: 1474335294
mas "Keynote", id: 409183694
mas "Mela", id: 1568924476
mas "MusicBox", id: 1614730313
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "PCalc", id: 403504866
mas "Photomator", id: 1444636541
mas "StopTheMadness Pro", id: 6471380298
mas "uBlock Origin Lite", id: 6745342698
EOF
{{ end -}}
