{{- if hasKey .macHosts .chezmoi.hostname -}}
#!/opt/homebrew/bin/fish

if type -q /opt/homebrew/bin/brew
  eval (/opt/homebrew/bin/brew shellenv fish)
end

if type -q asdf
  asdf plugin-add python
  asdf plugin-add pipenv https://github.com/and-semakin/asdf-pipenv.git
  asdf plugin-add golang https://github.com/asdf-community/asdf-golang.git
end
{{ end -}}
