{{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{- if eq $hostname "stark" -}}
#!/bin/bash

# Install brew cask packages
brew bundle --file=/dev/stdin <<EOF
cask "ableton-live-suite"
cask "adobe-digital-editions"
cask "calibre"
EOF
{{ end -}}
