{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

# Install the global rust toolchain and its components
# Toolchain and components live in .chezmoidata/packages.toml
rustup toolchain install {{ .rust.toolchain }} --no-self-update
{{- range .rust.components }} \
  --component {{ . }}
{{- end }}

rustup default {{ .rust.toolchain }}
{{ end -}}
