{{- if hasKey .archHostnames .chezmoi.hostname -}}
#!/bin/bash

sudo pacman -Sy \
	hyprland hyprpaper hyprpicker hypridle hyprlock hyprcursor \
	xdg-desktop-portal-hyprland dbus-broker

paru -Sy uwsm
{{ end -}}
