{{ $hostname := .chezmoi.hostname }}
{{ if eq .chezmoi.os "darwin" -}}
    {{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{ end -}}
{{- if or (hasKey .desktops $hostname) (hasKey .laptops $hostname) -}}
#!/opt/homebrew/bin/fish

# This script will run whenever there's an update in .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins" | sha256sum }}

fisher update
{{ end -}}
