{{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{- if and (hasKey .macHosts $hostname) (not (env "GITHUB_ACTION")) -}}
#!/bin/bash

# Install brew cask packages
brew bundle --file=/dev/stdin <<EOF
cask "aerospace"
cask "bettertouchtool"
cask "carbon-copy-cloner"
cask "crossover"
cask "discord"
cask "font-monaspace"
cask "ghostty"
cask "hammerspoon"
cask "little-snitch"
cask "lockrattler"
cask "loopback"
cask "love"
cask "micro-snitch"
cask "motu-m-series"
cask "nvidia-geforce-now"
cask "qmk-toolbox"
cask "quicken"
cask "reaper"
cask "silentknight"
cask "silicon-app"
cask "silnite"
cask "starsector"
cask "steam"
cask "surge-xt"
cask "vcv-rack"
cask "viable"
cask "wezterm@nightly"
EOF
{{ end -}}
