{{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{- if hasKey .macHosts $hostname -}}
#!/bin/bash

# Install brew taps
brew bundle --file=/dev/stdin <<EOF
tap "dagger/tap"
tap "homebrew/bundle"
tap "homebrew/services"
tap "osx-cross/arm"
tap "osx-cross/avr"
tap "qmk/qmk"
EOF
{{ end -}}
