{{ if and (eq .chezmoi.os "linux") (ne .is_wsl) -}}
#!/bin/bash

# Install yay
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si
cd ..
rm -rf yay

# First time yay config
yay -Y --gendb
yay -Syu --devel
yay -Y --devel --save
{{ end -}}
