{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/aliases"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "qmk/qmk"
brew "asdf"
brew "bat"
brew "bottom"
brew "ctop"
brew "curl"
brew "ddcctl"
brew "direnv"
brew "exa"
brew "f3"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "macchina"
brew "mas"
brew "ncdu"
brew "neovim"
brew "qmk"
brew "silicon", link: false
brew "smartmontools"
brew "terminal-notifier"
brew "thefuck"
brew "tmux"
brew "wget"
brew "zoxide"
cask "adobe-acrobat-reader"
cask "adobe-digital-editions"
cask "alfred"
cask "amethyst"
cask "bartender"
cask "bettertouchtool"
cask "calibre"
cask "carbon-copy-cloner"
cask "discord"
cask "docker"
cask "fission"
cask "font-jetbrains-mono-nerd-font"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keka"
cask "little-snitch"
cask "lockrattler"
cask "loopback"
cask "micro-snitch"
cask "native-access"
cask "nvidia-geforce-now"
cask "parallels"
cask "qmk-toolbox"
cask "signal"
cask "silentknight"
cask "silicon"
cask "silnite"
cask "steam"
cask "surge-xt"
cask "tiled"
cask "unity-hub"
cask "vcv-rack"
mas "AdGuard for Safari", id: 1440147259
mas "Amphetamine", id: 937984704
mas "GoodLinks", id: 1474335294
mas "Logic Pro", id: 634148309
mas "Mela", id: 1568924476
mas "Model 15", id: 1041465860
mas "Model D", id: 1339418001
mas "MusicBox", id: 1614730313
mas "NepTunes", id: 1006739057
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "PCalc", id: 403504866
mas "Steam Link", id: 1246969117
mas "Xcode", id: 497799835
EOF
{{ end -}}
