{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

### Configure macOS settings

## Dock, Spaces

# Minimize windows into their application’s icon
defaults write com.apple.dock minimize-to-application -bool true

# Show indicator lights for open applications in the Dock
defaults write com.apple.dock show-process-indicators -bool true

# Disable Dashboard
defaults write com.apple.dashboard mcx-disabled -bool true

# Don’t show Dashboard as a Space
defaults write com.apple.dock dashboard-in-overlay -bool true

# Don’t automatically rearrange Spaces based on most recent use
defaults write com.apple.dock mru-spaces -bool false

# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true

# Move dock to right
defaults write com.apple.dock orientation -string right

# Make Dock icons of hidden applications translucent
defaults write com.apple.dock showhidden -bool true

# Don’t show recent applications in Dock
defaults write com.apple.dock show-recents -bool false

# Magnify and set a slightly larger largesize
defaults write com.apple.dock magnification -bool true
defaults write com.apple.dock largesize -int 72

# Remove the auto-hiding Dock delay
defaults write com.apple.dock autohide-delay -float 0

# Remove the animation when hiding/showing the Dock
defaults write com.apple.dock autohide-time-modifier -float 0.25

killall Dock

## Spotlight

# Do not index mounted Volumes
# Disabled since it doesnt seem to work?
# sudo defaults write /.Spotlight-V100/VolumeConfiguration Exclusions -array "/Volumes"
{{ end -}}
