{{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{- if hasKey .macHosts $hostname -}}
#!/bin/bash

# Install brew packages
brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "bottom"
brew "ctop"
brew "curl"
# brew "dagger/tap/container-use"
brew "f3"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-crypt"
brew "git-lfs"
brew "git-delta"
brew "jq"
brew "just"
brew "lazygit"
brew "libpng"
brew "llvm"
brew "lua-language-server"
brew "m1ddc"
brew "macchina"
brew "marksman"
brew "mas"
brew "mise"
brew "ncdu"
brew "neovim", args: ["HEAD"]
brew "pkg-config"
brew "ripgrep"
brew "rustup"
brew "shellcheck"
brew "shfmt"
brew "silicon", link: false
brew "smartmontools"
brew "stylua"
brew "terminal-notifier"
brew "wakeonlan"
brew "wget"
brew "zoxide"
brew "qmk/qmk/qmk"
EOF
{{ end -}}
