{{- if hasKey .archHostnames .chezmoi.hostname -}}
#!/bin/bash

# build paru if its not on the system
if ! command -v paru 2>&1 >/dev/null; then
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si
  cd ..
  rm -rf paru
fi

# install paru with paru
paru -Sy paru
{{ end -}}
