{{- if hasKey .clientHostnames .chezmoi.hostname -}}
#!/bin/bash

# Install flatpaks
flatpak install flathub --assumeyes \
	com.discordapp.Discord org.libreoffice.LibreOffice fm.reaper.Reaper com.bitwig.BitwigStudio org.gnome.World.PikaBackup \
	md.obsidian.Obsidian io.github.neil_morrison44.pocket-sync
{{ end -}}
