{{ $hostname := .chezmoi.hostname }}
{{ if eq .chezmoi.os "darwin" -}}
    {{ $hostname := output "scutil" "--get" "LocalHostName" | trim }}
{{ end -}}
{{- if or (hasKey .desktops $hostname) (hasKey .laptops $hostname) -}}
#!/opt/homebrew/bin/fish

# This script will run whenever there's an update in .config/mise/config.toml
# .config/mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

mise install
mise completion fish > ~/.config/fish/completions/mise.fish
{{ end -}}
