{{- if hasKey .archHostnames .chezmoi.hostname -}}
#!/bin/bash

sudo pacman -Sy \
	bat ripgrep fd fzf ncdu dialog ddcutil fish \
	pv wl-clipboard git-delta jq btop ctop tealdeer exfat-utils \
	virt-install scrot
{{ end -}}
