{{- if eq .chezmoi.hostname "storms-end" -}}
#!/bin/bash

### Install GPU and fan packages
# flatpak info io.github.ilya_zlobintsev.LACT
# flatpak install io.github.ilya_zlobintsev.LACT
# sudo systemctl enable lactd
#
# which coolercontrol
# echo $?
# ujust install-coolercontrol
# sudo systemctl enable coolercontrold

### Install sunshine
# ujust setup-sunshine

### Configure kargs
# sudo rpm-ostree kargs --append-if-missing="modules-load=nct6775"

