{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install brew packages
brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "container"
brew "bottom"
brew "ctop"
brew "curl"
brew "dfu-util"
brew "dockutil"
brew "f3"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "glow"
brew "jq"
brew "just"
brew "just-lsp"
brew "lazygit"
brew "ledger"
brew "libpng"
brew "lua-language-server"
brew "m1ddc"
brew "macchina"
brew "marksman"
brew "mas"
brew "mise"
brew "ncdu"
brew "neovim"
brew "osx-cross/arm/arm-none-eabi-gcc@8"
brew "ripgrep"
brew "rustup"
brew "shellcheck"
brew "shfmt"
brew "smartmontools"
brew "stylua"
brew "swift-format"
brew "terminal-notifier"
brew "vscode-langservers-extracted"
brew "wakeonlan"
brew "xcbeautify"
brew "xcode-build-server"
brew "zoxide"
EOF
{{ end -}}
