{{ if and (eq .chezmoi.os "linux") (.is_wsl) -}}
#!/bin/bash

# Install packages
sudo zypper -n install bat bottom direnv fd fzf gcc gh git-lfs git-delta macchina ncdu neovim ripgrep starship zoxide zsh

# set zsh as default shell once
current_shell=`getent passwd mario | awk -F: '{print $NF}'`
if ! grep -q "zsh" $current_shell
then
    sudo chsh -s "$(command -v zsh)" "${USER}"
fi
{{ end -}}
