{{- if or (eq (env "CONTAINER_ID") .devboxHostname) (hasKey .macHosts .chezmoi.hostname) -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish
{{ else if eq (env "CONTAINER_ID") .devboxHostname -}}
#!/usr/bin/fish
{{- end }}

# This script will run whenever there's an update in .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins" | sha256sum }}

fisher update
{{ end -}}
