{{- if or (eq (env "CONTAINER_ID") .devboxHostname) (hasKey .macHosts .chezmoi.hostname) -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish
{{ else if eq (env "CONTAINER_ID") .devboxHostname -}}
#!/usr/bin/fish
{{- end }}

curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
{{ end -}}
