{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "asdf"
brew "bash-language-server"
brew "bat"
brew "bottom"
brew "ctop"
brew "curl"
brew "direnv"
brew "f3"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "git-delta"
brew "jq"
brew "llvm"
brew "lua-language-server"
brew "m1ddc"
brew "macchina"
brew "marksman"
brew "mas"
brew "mdbook"
brew "ncdu"
brew "neovim"
brew "qmk/qmk/qmk"
brew "ripgrep"
brew "rustup"
brew "shellcheck"
brew "silicon", link: false
brew "shfmt"
brew "smartmontools"
brew "terminal-notifier"
brew "tmux"
brew "wakeonlan"
brew "wget"
brew "zola"
brew "zoxide"
EOF
{{ end -}}
