[cd]
    command = "fish"
{{ if eq .chezmoi.os "darwin" -}}
[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
{{- end }}

[diff]
    command = "delta"
    pager = "delta"

[data]
    username = "mario"
    {{ if eq .chezmoi.os "darwin" -}}
    hostname = "{{ output "scutil" "--get" "HostName" | trim }}"
    {{- else if eq .chezmoi.os "linux" -}}
    hostname = "{{ output "hostnamectl" "--static" | trim }}"
    {{- else -}}
    hostname = "{{ output "hostname" }}"
    {{- end -}}
