[cd]
{{- if eq .chezmoi.os "windows" }}
    command = "pwsh"
{{- else }}
    command = "zsh"
{{- end }}
{{- if eq .chezmoi.os "windows" }}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end }}

[data]
{{- if eq .chezmoi.os "windows" }}
    is_wsl = false
{{- else }}
    is_wsl = {{- (.chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$") }}
{{- end }}
