root = true

[*]
indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = true
insert_final_newline = true

[*.fish,*.fish.tmpl]
indent_style = tab

[*.json,*.jsonc]
indent_size = 2

[*.lua]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

