{{- if eq .chezmoi.os "darwin" }}
# Add homebrew to PATH
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

{{- if and (eq .chezmoi.os "linux") (.is_wsl) -}}
# Setup asdf
. "$HOME/.asdf/asdf.sh"

# Setup direnv
eval "$(direnv hook zsh)"
source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf-direnv/zshrc"

# Add starship to zsh
eval "$(starship init zsh)"
{{- end }}
