[core]
	pager = delta
[user]
	{{ if eq .chezmoi.os "darwin" -}}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAipRk9CK71BwC7DtnYAsMX5CsuCbnq03YaOL7ZKX+bn
	{{ else if eq .chezmoi.os "linux" -}}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO+RlSav1/qs905tuVJpOo5zfLe2AfF5cg/cG27pnp8n
	{{- end }}
	email = mario@techmunchies.net
	name = Mario Lopez
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[pull]
	rebase = true
[tag]
	gpgsign = true
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true
