{{- if eq .chezmoi.os "darwin" }}
# Add homebrew to PATH
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

{{- if and (eq .chezmoi.os "linux") (.is_wsl) (eq .chezmoi.osRelease.id "ubuntu") -}}
export ASDF_DIR=/asdf
. /asdf/asdf.sh
{{- end }}
