[core]
    pager = delta
    excludesfile = ~/.config/git/gitignore
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPhF7/5agjGzrAiS7eOH+tY5GhqdLKqbCuvGwkbR0lyr
	email = mariolopjr@users.noreply.github.com
	name = Mario
[gpg]
	format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
    program = "/opt/1Password/op-ssh-sign"
[commit]
	gpgsign = true
[pull]
	rebase = true
[tag]
	gpgsign = true
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true

